<%- include("../../views/partials/user/header") %>
    <style>
        .product__details__pic__item {
            position: relative;
            overflow: hidden;
        }
        .image-zoom-container {
            position: fixed;
            top: 50%;
            right: 10%;
            transform: translateY(-50%);
            width: 300px;
            height: 300px;
            border: 2px solid #ddd;
            background-color: #fff;
            background-repeat: no-repeat;
            background-size: 200%;
            background-position: center;
            transition: all 0.3s ease;
            z-index: 1000;
            box-shadow: 0 0 20px rgba(0,0,0,0.2);
            display: none;
        }
        .zoom-lens {
            position: absolute;
            border: 2px solid rgba(0,0,0,0.3);
            width: 100px;
            height: 100px;
            background: rgba(255,255,255,0.2);
            pointer-events: none;
            display: none;
            z-index: 999;
        }
        .product__details__pic__item img {
            cursor: zoom-in;
        }
    </style>
    
    <!-- Shop Details Section Begin -->
    <section class="shop-details">
        <div class="product__details__pic">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__breadcrumb">
                            <a href="/">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Product Details</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <ul class="nav nav-tabs" role="tablist">
                            <% for (let i=0; i < product.productImages.length; i++) { %>
                                <li class="nav-item">
                                    <a class="nav-link <%= i === 0 ? 'active' : '' %>" data-toggle="tab"
                                        href="#tabs-<%= i + 1 %>" role="tab">
                                        <div class="product__thumb__pic set-bg">
                                            <img src="uploads/product-images/<%= product.productImages[i] %>"
                                                alt="product image">
                                        </div>
                                    </a>
                                </li>
                                <% } %>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-9">
                        <div class="tab-content">
                            <% for (let i=0; i < product.productImages.length; i++) { %>
                                <div class="tab-pane <%= i === 0 ? 'active' : '' %>" id="tabs-<%= i + 1 %>"
                                    role="tabpanel">
                                    <div class="product__details__pic__item">
                                        <img src="uploads/product-images/<%= product.productImages[i] %>"
                                            alt="product image" class="img-fluid">
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="product__details__content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__text">
                            <h4>
                                <%= product.productName %>
                            </h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span> - 5 Reviews</span>
                            </div>
                            <h3>₹<%= product.salePrice.toLocaleString('en-IN') %> <span>₹<%=
                                            product.regularPrice.toLocaleString('en-IN') %></span></h3>
                            <p>
                                <%= product.description %>
                            </p>
                            <div class="product__details__option">
                                <div class="product__details__option__size">
                                    <span>Size:</span>
                                    <label for="xxl">30mm
                                        <input type="radio" id="xxl">
                                    </label>
                                    <label class="active" for="xl">32mm
                                        <input type="radio" id="xl">
                                    </label>
                                    <label for="l">35mm
                                        <input type="radio" id="l">
                                    </label>
                                    <label for="sm">38mm
                                        <input type="radio" id="sm">
                                    </label>
                                </div>
                                <!-- <div class="product__details__option__color">
                                    <span>Color:</span>
                                    <label class="c-1" for="sp-1">
                                        <input type="radio" id="sp-1">
                                    </label>
                                    <label class="c-2" for="sp-2">
                                        <input type="radio" id="sp-2">
                                    </label>
                                    <label class="c-3" for="sp-3">
                                        <input type="radio" id="sp-3">
                                    </label>
                                    <label class="c-4" for="sp-4">
                                        <input type="radio" id="sp-4">
                                    </label>
                                    <label class="c-9" for="sp-9">
                                        <input type="radio" id="sp-9">
                                    </label>
                                </div> -->
                            </div>
                            <div class="product__details__cart__option">
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <input type="text" value="1">
                                    </div>
                                </div>
                                <a href="#" class="primary-btn">add to cart</a>
                            </div>
                            <div class="product__details__btns__option">
                                <a href="#"><i class="fa fa-heart"></i> add to wishlist</a>
                                <!-- <a href="#"><i class="fa fa-exchange"></i> Add To Compare</a> -->
                            </div>
                            <div class="product__details__last__option">
                                <h5><span>Guaranteed Safe Checkout</span></h5>
                                <img src="img/shop-details/details-payment.png" alt="">
                                <ul>
                                    <li><span>Availability:</span>
                                        <%= product.quantity %> in stock
                                    </li>
                                    <li><span>Categories:</span>
                                        <%= product.category.name %>
                                    </li>
                                    <!-- <li><span>Tag:</span> Clothes, Skin, Body</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabs-5"
                                        role="tab">Description</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">Customer
                                        Reviews(5)</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab">Additional
                                        information</a>
                                </li> -->
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <!-- <p class="note">Nam tempus turpis at metus scelerisque placerat nulla deumantos
                                            solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis
                                            ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo
                                            pharetras loremos.</p> -->
                                        <div class="product__details__tab__content__item">
                                            <h5>Products Infomation</h5>
                                            <p>
                                                <%= product.description %>
                                            </p>
                                            <p>
                                                <%= product.category.description %>
                                            </p>
                                        </div>
                                        <!-- <div class="product__details__tab__content__item">
                                            <h5>Material used</h5>
                                            <p>Polyester is deemed lower quality due to its none natural quality’s. Made
                                                from synthetic materials, not natural like wool. Polyester suits become
                                                creased easily and are known for not being breathable. Polyester suits
                                                tend to have a shine to them compared to wool and cotton suits, this can
                                                make the suit look cheap. The texture of velvet is luxurious and
                                                breathable. Velvet is a great choice for dinner party jacket and can be
                                                worn all year round.</p>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-6" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <div class="product__details__tab__content__item">
                                            <h5>Products Infomation</h5>
                                            <p>A Pocket PC is a handheld computer, which features many of the same
                                                capabilities as a modern PC. These handy little devices allow
                                                individuals to retrieve and store e-mail messages, create a contact
                                                file, coordinate appointments, surf the internet, exchange text messages
                                                and more. Every product that is labeled as a Pocket PC must be
                                                accompanied with specific software to operate the unit and must feature
                                                a touchscreen and touchpad.</p>
                                            <p>As is the case with any new technology product, the cost of a Pocket PC
                                                was substantial during it’s early release. For approximately $700.00,
                                                consumers could purchase one of top-of-the-line Pocket PCs in 2003.
                                                These days, customers are finding that prices have become much more
                                                reasonable now that the newness is wearing off. For approximately
                                                $350.00, a new Pocket PC can now be purchased.</p>
                                        </div>
                                        <div class="product__details__tab__content__item">
                                            <h5>Material used</h5>
                                            <p>Polyester is deemed lower quality due to its none natural quality’s. Made
                                                from synthetic materials, not natural like wool. Polyester suits become
                                                creased easily and are known for not being breathable. Polyester suits
                                                tend to have a shine to them compared to wool and cotton suits, this can
                                                make the suit look cheap. The texture of velvet is luxurious and
                                                breathable. Velvet is a great choice for dinner party jacket and can be
                                                worn all year round.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-7" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <p class="note">Nam tempus turpis at metus scelerisque placerat nulla deumantos
                                            solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis
                                            ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo
                                            pharetras loremos.</p>
                                        <div class="product__details__tab__content__item">
                                            <h5>Products Infomation</h5>
                                            <p>A Pocket PC is a handheld computer, which features many of the same
                                                capabilities as a modern PC. These handy little devices allow
                                                individuals to retrieve and store e-mail messages, create a contact
                                                file, coordinate appointments, surf the internet, exchange text messages
                                                and more. Every product that is labeled as a Pocket PC must be
                                                accompanied with specific software to operate the unit and must feature
                                                a touchscreen and touchpad.</p>
                                            <p>As is the case with any new technology product, the cost of a Pocket PC
                                                was substantial during it’s early release. For approximately $700.00,
                                                consumers could purchase one of top-of-the-line Pocket PCs in 2003.
                                                These days, customers are finding that prices have become much more
                                                reasonable now that the newness is wearing off. For approximately
                                                $350.00, a new Pocket PC can now be purchased.</p>
                                        </div>
                                        <div class="product__details__tab__content__item">
                                            <h5>Material used</h5>
                                            <p>Polyester is deemed lower quality due to its none natural quality’s. Made
                                                from synthetic materials, not natural like wool. Polyester suits become
                                                creased easily and are known for not being breathable. Polyester suits
                                                tend to have a shine to them compared to wool and cotton suits, this can
                                                make the suit look cheap. The texture of velvet is luxurious and
                                                breathable. Velvet is a great choice for dinner party jacket and can be
                                                worn all year round.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Details Section End -->





    <!-- Related Section Begin -->
    <section class="related spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="related-title">Related Products</h3>
                </div>
            </div>
            <div class="row">
                <% for (let i = 0; i < relatedProducts.length; i++) { %>
                    <div class="col-lg-3 col-md-4 col-sm-6"> <!-- 4 items per row on large screens, 3 items on medium, 2 items on small -->
                        <div class="product__item">
                            <a href="/productDetails?id=<%= relatedProducts[i]._id %>">
                            <div class="product__item__pic set-bg" data-setbg="uploads/product-images/<%= relatedProducts[i].productImages[0] %>">
                                <span class="label">New</span>
                            </div>
                            </a>
                            <div class="product__item__text">
                                <h6><%= relatedProducts[i].productName %></h6>
                                <a href="/product-details?id=<%= relatedProducts[i]._id %>" class="add-cart">+ Add To Cart</a>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>Price: ₹<%= relatedProducts[i].salePrice.toLocaleString('en-IN') %> 
                                    <span class="text-muted">
                                        <strike>₹ <%= relatedProducts[i].regularPrice.toLocaleString('en-IN') %></strike>
                                    </span>
                                </p>
                                <button style="
                                margin-left: 54px;
                             background-color: black; color: white;">+ Add to Wishlist</button>
                                <!-- <div class="product__color__select">
                                    <label for="pc-1">
                                        <input type="radio" id="pc-1">
                                    </label>
                                    <label class="active black" for="pc-2">
                                        <input type="radio" id="pc-2">
                                    </label>
                                    <label class="grey" for="pc-3">
                                        <input type="radio" id="pc-3">
                                    </label>
                                </div> -->
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            
            
        </div>
    </section>
    <!-- Related Section End -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Create zoom elements
            const $zoomContainer = $('<div class="image-zoom-container"></div>').appendTo('body');
            const $zoomLens = $('<div class="zoom-lens"></div>');

            // Function to set up zoom for an image
            function setupZoom($image) {
                // Remove previous event handlers
                $image.off('mousemove mouseleave');

                // Add zoom lens to image container
                $image.closest('.product__details__pic__item').append($zoomLens);

                // Mouse move event
                $image.on('mousemove', function(e) {
                    const $this = $(this);
                    const offset = $this.offset();
                    const containerWidth = $this.width();
                    const containerHeight = $this.height();

                    // Calculate mouse position relative to image
                    const x = e.pageX - offset.left;
                    const y = e.pageY - offset.top;

                    // Show zoom elements
                    $zoomLens.show();
                    $zoomContainer.show();

                    // Position the lens
                    $zoomLens.css({
                        left: x - 50,
                        top: y - 50
                    });

                    // Calculate zoom background position
                    const percentX = (x / containerWidth) * 100;
                    const percentY = (y / containerHeight) * 100;

                    // Set zoom container background
                    $zoomContainer.css({
                        backgroundImage: `url(${$this.attr('src')})`,
                        backgroundPosition: `${percentX}% ${percentY}%`,
                        backgroundSize: `${$this.width() * 2}px ${$this.height() * 2}px`
                    });
                });

                // Mouse leave event
                $image.on('mouseleave', function() {
                    $zoomLens.hide();
                    $zoomContainer.hide();
                });
            }

            // Initial setup for first image
            $('.tab-pane.active img').each(function() {
                setupZoom($(this));
            });

            // Handle tab change events
            $('a[data-toggle="tab"]').on('shown.bs.tab', function() {
                // Find the image in the newly activated tab
                const $activeImage = $($(this).attr('href')).find('img');
                setupZoom($activeImage);
            });
        });
    </script>
    
    <%- include("../../views/partials/user/footer") %>